*.identcache
*.local
*.stat
*.skincfg
*.dcu
*.~*
*.bdsproj
*.exe
*.dll
*.zip
*.cfg
*.dof
*.dsk
._*
__*.*
Binn/Depoto.vrc
*.$manifest
Thumbs.db
*.tvsconfig
~$*.*
*.___history
.___*
DLL/Etran/GetETRAN4/
*._Temp
