USE [Lis1]
GO
/****** Object:  StoredProcedure [dbo].[sp_fact_track_stay_GET]    Script Date: 20.08.2025 21:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ALTER PROCEDURE [dbo].[sp_fact_track_stay_GET]
declare
	@str_num_vagon		varchar(max) = NULL,
	@date1				datetime = '20251101',
	@date2				datetime = '20251130',
	@type_action		int = 1,         --0-простои на каждой станции, 1-простой на станциях назн.
	@node_begin_cod		varchar(max) = NULL,
	@node_end_cod		varchar(max) = NULL,
	@kargoETSNG_cod		varchar(max) = NULL,
	@comment_1			varchar(200) = NULL,
	@set_archive		bit = NULL


--WITH RECOMPILE
--AS
--set @str_num_vagon = '51203677'
--'76756279,51464873,51480218,51523173,51388163,75110122,76425693,51227932,51260321,51711208,58706680,73081762,53903720,58270349,53877148,51390425,76199397,54681325,53956249,73207607,73207615,50541523,51634418,51439586,54719083,50679265'

SET XACT_ABORT ON

DECLARE @row_id					int,
		@min_date				datetime,
		@max_date				datetime,
		@num_vagon				int,
		@node_operation_name	varchar(50),
		@max_date_query			datetime,

		@str_error			varchar(1000),
		@date_otpr			datetime,
		@bargain_cod		varchar(200),
		@firm_customer_name	varchar(200),
		@str_sql			nvarchar(max)

SET @date1 = FLOOR(convert(float, @date1))
SET @date2 = dateadd(s, -1, dateadd(day, 1, FLOOR(convert(float, @date2))))
SET @set_archive = isnull(@set_archive, 0)


-------------------------------------------------------------------------
--- #####################################################################
-------------------------------------------------------------------------
IF (@type_action = 1)
	BEGIN

	IF OBJECT_ID('tempdb..#tmp_end') is not NULL
		DROP TABLE #tmp_end

	select 
			isnull(U1.date_otpr_1, U11.max_date_query)      as max_date,  
			isnull(t.date_arrival, U3.date_otpr_2)			as min_date,  
			cast(case when t.date_arrival is null then 1 else 0 end as bit)		 as set_track_end, 
			iif(t.date_arrival is null, U2.node_operation_name, t.node_end_name) as node_operation_name,
			iif(t.date_arrival is null, U2.node_operation_cod, t.node_end_cod)   as node_operation_cod,
			iif(t.date_arrival is null, U2.road_operation_name, U2.node_end_road_name) as road_operation_name,
			isnull(cast(U4.date_arrival_1 as datetime), t.date_otpr)                                        as date_arrival_1,	-- дата приб на станцию отправления
			iif(t.date_arrival is null, null, isnull(cast(U1.date_otpr_1 as datetime), U11.max_date_query)) as date_otpr_1,		-- дата отпр со станции назначения
			t.date_arrival x1, U1.date_otpr_1 x2, U11.max_date_query x3,
			U2.set_archive,
			comm6.vagon_comment as comment6,
			t.* ,
			c.firm_customer_name, c.contract_cod, agreement_cod, agreement_date, agreement_vid_activity
	into #tmp_end
	from fact_track_trip t
	left join view_contract c on c.contract_id = t.contract_id
	left join contract_agreement a on a.agreement_id = t.agreement_id
	--- дата отправления след.рейса (для простоев на ст.назн)
	outer apply
		(select TOP 1 cast(date_otpr as date) as date_otpr_1, fact_track_trip_id 
		 from fact_track_trip t1 where (t.num_vagon = t1.num_vagon) and (t1.date_otpr > t.date_otpr) and (t.node_end_cod = t1.node_begin_cod)
		 order by t1.date_otpr 
		) U1
	-- если нет след рейса со станции назначения, то берём максимальную дату запроса файлов	по текущему рейсу
	outer apply
		(select max(date_query) as max_date_query --, fact_track_trip_id  --cast(date_otpr as date) as date_otpr_1, fact_track_trip_id 
		 from fact_track_vagon t11 where (t.num_vagon = t11.num_vagon) and (t11.date_otpr = t.date_otpr) 
		 --order by t1.date_otpr 
		) U11
	--- информация из текущего рейса на последнюю дату операции
	outer apply
		(select TOP 1 node_end_road_name, road_operation_name, node_operation_name, node_operation_cod, set_archive
		 from fact_track_vagon f where f.fact_track_trip_id = t.fact_track_trip_id 
		 order by f.date_operation desc
		) U2
	--- дата отправления со станции начала рейса (для простоев на ст.отпр)
	outer apply
		(select cast(min(date_operation) as date) as date_otpr_2 
		 from fact_track_vagon f2 where (f2.fact_track_trip_id = t.fact_track_trip_id) AND (U2.node_operation_cod = f2.node_operation_cod)
		) U3
	--- дата прибытия со станцию начала рейса
	outer apply
		(select TOP 1 cast(date_arrival as date) as date_arrival_1, fact_track_trip_id 
		 from fact_track_trip t2 where (t.num_vagon = t2.num_vagon) and (t2.date_arrival <= t.date_otpr) order by t2.date_arrival desc 
		) U4
	-- собственник 6-ой комментарий
	outer apply
		(SELECT top 1 vagon_comment 
		FROM view_vagon_comment 
		WHERE (num_vagon = t.num_vagon) AND (vagon_comment_type_id = 908732 ) AND (t.date_otpr BETWEEN date_begin AND ISNULL(date_end + 0.999 , t.date_otpr))
		) comm6

	where ( (@str_num_vagon is NULL) OR (t.num_vagon IN (select cod from dbo.StrToTbl(@str_num_vagon, ','))) )
		AND (t.date_otpr BETWEEN @date1 and @date2)
		AND (@node_begin_cod is null OR t.node_begin_cod IN (select cod from dbo.StrToTbl(@node_begin_cod, ',')) )
		AND (@node_end_cod is null   OR t.node_end_cod   IN (select cod from dbo.StrToTbl(@node_end_cod, ',')) )
		AND (@kargoETSNG_cod is null OR t.kargoETSNG_cod IN (select cod from dbo.StrToTbl(@kargoETSNG_cod, ',')) )

	-- оставляем только гружёные рейсы
	drop table if exists #tmp1
	select *,
		  case agreement_vid_activity
			when 'Биржевые сделки' then 2
			else 2
		  end as norm_days_stay_begin
		, case agreement_vid_activity
			when 'Биржевые сделки' then 2
			else 2
		  end as norm_days_stay_end
    into #tmp1 from #tmp_end where fact_weight > 0


	-- если "дату приб на ст.отпр" брать из этрана
	if exists(select 1 from
				(select distinct num_vagon, doc_number from #tmp1) t
				inner join fact_track_trip_add d on t.num_vagon = d.num_vagon and t.doc_number = d.doc_number and field_name= 'date_arrival_1'
             )
	begin
		drop table if exists #tmp2
		select
				t.fact_track_trip_id, t.date_arrival_1 as old_date_arrival_1, U4.date_arrival_1 as new_date_arrival_1
		into #tmp2
		from #tmp1 t
			left join fact_track_trip_add a on t.num_vagon = a.num_vagon and t.doc_number = a.doc_number
			outer apply
				(select TOP 1 cast(datpr as date) as date_arrival_1
				 from fact t2 
					inner join inf_obj_node n on n.inf_obj_id = t2.node_end_id
				 where (t.num_vagon = t2.num_vagon) 
					and (t.node_begin_cod = n.inf_obj_cod)
					and (t2.datpr <= t.date_otpr) 
					order by t2.datpr desc 
				) U4

		update t1
			set t1.date_arrival_1 = t2.new_date_arrival_1
		from #tmp1 t1
			inner join #tmp2 t2 on t2.fact_track_trip_id = t1.fact_track_trip_id
	end
--select node_end_name, date_from_to, datpr, * from view_fact where num_vagon = 51203677

drop table if exists #tmp_itog
select	convert(int, convert(datetime, FLOOR(convert(float, date_otpr))) - convert(datetime, date_arrival_1)) + 1                           as days_stay_begin,
		iif(date_arrival is null, null, convert(int, convert(datetime, max_date) - convert(datetime, FLOOR(convert(float, min_date)))) + 1)	as days_stay_end, 
		convert(int, convert(datetime, FLOOR(convert(float, date_otpr))) - convert(datetime, date_arrival_1)) 
		+ convert(int, convert(datetime, max_date) - convert(datetime, FLOOR(convert(float, min_date))))                                    as days_stay_sum, 
		t.* 
into #tmp_itog
from #tmp1 t
order by t.num_vagon		
	
-- правила торгов для тарифа биржевых сделок
drop table if exists #tmp_tender
select LEAD(tender_date_public) OVER(ORDER BY tender_date_public) as next_tender_date_public, tender_date_public, 
	tender_id, tender_rate_1, tender_rate_2, tender_rate_3, tender_rate_4
into #tmp_tender
from fact_track_tender

drop table if exists #tmp_itog1
select i.*,
	iif((days_stay_begin - norm_days_stay_begin) < 0, 0, days_stay_begin - norm_days_stay_begin) as over_days_begin,
	iif((days_stay_end - norm_days_stay_end) < 0, 0, days_stay_end - norm_days_stay_end) as over_days_end,
	ft.*
into #tmp_itog1
from #tmp_itog i
left join #tmp_tender ft with(nolock) on  ft.next_tender_date_public >= i.date_otpr and ft.tender_date_public <= isnull(i.date_arrival, getdate())

select *,
	case 
	   when (over_days_begin <= 4 and agreement_vid_activity = 'Биржевые сделки') then tender_rate_2 
	   when (over_days_begin <= 4 and agreement_vid_activity = 'Небиржевые сделки') then tender_rate_1 
	   when (over_days_begin > 5 and agreement_vid_activity = 'Биржевые сделки') then tender_rate_3 
	   when (over_days_begin > 5 and agreement_vid_activity = 'Небиржевые сделки') then tender_rate_4
	end as tarif_begin, 
	case
		when (over_days_end <= 4 and agreement_vid_activity = 'Биржевые сделки') then tender_rate_2 
		when (over_days_end <= 4 and agreement_vid_activity = 'Небиржевые сделки') then tender_rate_1
		when (over_days_end > 5 and agreement_vid_activity = 'Биржевые сделки') then tender_rate_3 
		when (over_days_end > 5 and agreement_vid_activity = 'Небиржевые сделки') then tender_rate_4
	end as tarif_end
from #tmp_itog1



END

